
@{
    ViewData["Title"] = "Management";
}

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <img src="https://play-lh.googleusercontent.com/ODiV5JXiJtzaznW5-LUY1X-hzdDBH6wVnU_xAfP1m4oIHA98Z3IE9r_dVS0xtxhGKQ" class="card-img-top" />
            <a href="@Url.Action("Index","Lawyers")">Register Lawyer</a>
        </div>


        <div class="col-md-4">
            <img src="https://www.enago.com/academy/wp-content/uploads/2017/04/case-report-750x300.jpg" class="card-img-top" />
            <a href="@Url.Action("Index","CaseDetails")">Case Details</a>
        </div>




        <div class="col-md-4">
            <img src="https://mediashower.com/img/569CDF0A-FF8D-11E9-85CA-9307F0C3BCBF/bigstock-We-Want-Your-Feedback-Survey--300523627_600x.jpg" class="card-img-top" />
            <a href="@Url.Action("Index","Feedbacks")">Feedback Details</a>
        </div>





    </div>

</div>
