@{
    ViewData["Title"] = "Home Page";
}

<div class="alert-heading">
    Welcome
</div>

<div class="card">
    <div class="card-body">
        <h4 class="card-title">Lawyers</h4>
        <p class="card-text">Find Some Best Lawyers here</p>
        <a href="#" class="card-link">Start a conversation with a real lawyer and get real solutions. Call Godfreys now. Godfreys has been providing real solutions in Christchurch for over 140 years. Call now.</a>
        
    </div>
</div>